{% extends 'base.html' %}

{% block content %}

    <br/>
    <br/>
    <u><h2>My CV</h2></u>
    <br/>
    PDF available for download <a href="{% url 'download' %}">here!</a><span
        class="glyphicon glyphicon-download"
        aria-hidden="true"></span></p>
    <hr/>
    <br/>
    <br/>
    {% load static %}
    <img src="{% static 'juraj_gabriel_cv_1.jpg' %}" class="img-fluid rounded mx-auto d-block" alt="Responsive image">

<div align="center">
    <a class="q qs" href="#">Back to Top</a>
</div>

{% endblock %}
