{% extends 'base.html' %}

{% block content %}

    <br/>
    <h1 class="text-center">Welcome to my Blog!</h1>
    <br/>
    {% load static %}
    <img src="{% static 'home.jpg' %}" class="img-fluid rounded mx-auto d-block" alt="Responsive image">
    <br/>
    <br/>
    <h2>Latest Posts</h2>
    <hr/>

    {% for post in posts.all %}
    <a class="q qs" href="{% url 'post_detail' post.id %}"><h3>{{ post.title }}</h3></a>
    <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ post.pub_date_pretty }}
    <br/>
    <div class="text-left">
        <a href="{% url 'post_detail' post.id %}">
            <img src="{{ post.image.url }}" class="rounded" style="max-height:250px;"/>
        </a>
    </div>
    <br/>
    <p style="font-size:120%">{{ post.summary }}<a href="{% url 'post_detail' post.id %}">...</a></p>
    </body>
    <hr/>
    {% endfor %}

{% endblock %}
