<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <title>My Blog</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cv' %}">CV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/juraj-gabriel-ab3027109/">LinkedIn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="https://github.com/NoSayMe?tab=repositories">GitHub</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <br/>
    <h1 class="text-center">Welcome to my Blog!</h1>
    <br/>
    {% load static %}
    <img src="{% static 'home.jpg' %}" class="img-fluid rounded mx-auto d-block" alt="Responsive image">
    <br/>
    <br/>
    <h2>Latest Posts</h2>
    <hr/>

    {% for post in posts.all %}
    <a class="q qs" href="{% url 'post_detail' post.id %}"><h3>{{ post.title }}</h3></a>
    <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ post.pub_date_pretty }}
    <br/>
    <div class="text-left">
        <a href="{% url 'post_detail' post.id %}">
            <img src="{{ post.image.url }}" class="rounded" style="max-height:250px;"/>
        </a>
    </div>
    <br/>
    <p style="font-size:120%">{{ post.summary }}<a href="{% url 'post_detail' post.id %}">...</a></p>
    </body>
    <hr/>
    {% endfor %}

</div>
<div align="center">
    <a class="q qs" href="#"">Back to Top</a>
</div>
<br/>
</body>
</html>
